* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 30%;
  background-color: rgb(112, 240, 197);
  border-radius: 6px;
  color: rgb(13, 12, 12);
}

.temp-container{
    width: 100%;
font-size: 24px;
display: flex;
align-items: center;
justify-content: space-around;
}

.temp-container input{
padding: 12px 32px;
border: rgb(117, 114, 114);
font-size: 16px;
}
